body{
    height: 1000px;
    background: linear-gradient(red,white,red);
    margin: 0;
    padding: 0;
}
.opening{
    margin-left: 450px;
    background: linear-gradient(#ABDCFF,#0396FF);
    width: 500px;
    height: 1455px;
    box-shadow: 0px 0px 20px black;
    border-radius: 30px;
}
.judul{
padding-top: 20px;
padding-left: 20px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    color: white;
    text-shadow: 4px 2px 3px black;
}
.button{
background-color: white;
height: 30px;
width: 100px;
border-radius: 30px;
padding-top: 8px;
text-align: center;
margin-left: 90px;
box-shadow: 2px 2px 5px black;
}
.button:hover{
    background-color: red;
    transition: all .30s ease-in-out;
}
.button a{
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
}
.info{
    margin-top: 40px;
    background-color: white;
    height: 180px;
    width: 300px;
    margin-left: 40px;
    box-shadow: 4px 3px 5px black;
    border-radius: 30px;
}
.teksinfo{
padding-top: 15px;
padding-left: 20px;
padding-bottom: 10px;
font-size: 12px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: #00d0ff;
text-shadow: 1px 1px 1px black;
}

.info2{
    margin-top: 40px;
    background-color: white;
    height: 340px;
    width: 400px;
    margin-left: 40px;
    box-shadow: 4px 3px 5px black;
    border-radius: 30px;
}
.button2{
    background-color: rgb(0, 251, 255);
    height: 30px;
    width: 150px;
    border-radius: 30px;
    padding-top: 10px;
    text-align: center;
    margin-left: 25px;
    margin-top: 20px;
    box-shadow: 2px 2px 5px black;
    }
    .button2:hover{
        background-color: rgb(0, 255, 8);
        transition: all .30s ease-in-out;
    }
    .button2 a{
        font-size: 14px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-style: italic;
        font-weight: bold;
        text-decoration: none;
    }

    .info3{
    margin-top: 40px;
    background-color: white;
    height: 290px;
    width: 300px;
    margin-left: 40px;
    box-shadow: 4px 3px 5px black;
    border-radius: 30px;
}
.kontakjudul{
    padding-left: 15px;
    padding-top: 5px;
    font-size: 16px;
    color: antiquewhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-style: italic;
    text-shadow: 1px 1px 3px black;
}
.kontakisi{
    padding-left: 15px;
    padding-top: 5px;
    font-size: 12px;
    color: rgb(0, 238, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline;
    text-shadow: 1px 1px 1px black;
}
.kontakisi:hover{
    color: greenyellow;
}
.info4{
    margin-top: 40px;
    background-color: white;
    height: 275px;
    width: 300px;
    margin-left: 40px;
    box-shadow: 4px 3px 5px black;
    border-radius: 30px;
}
.infobottom{
    margin-top: 35px;
    padding-bottom: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    color: rgb(103, 225, 255);
    text-shadow: 1px 2px 3px black;
    text-align: center;

}